*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color:#aac3bd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}
.logo{
    color: #ECDDB6;
    letter-spacing: 5px;
    font-size: 23px;
    text-transform: uppercase;
    width: 30%;
}
.lista{
    display: flex;
    width: 40%;
    justify-content: space-around;
}
.lista__li{
    list-style: none;
}
.lista__a{
    text-decoration: none;
    color: #ECDDB6;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.lista__a::after{
    content: "";
    display: block;
    width: 0px;
    height: 3px;
    border-radius: 1px;
    background-color: white;
    transition: width .3s;    
}
.lista__a:hover::after{
    width: 100%;
}
.burger{
    display: none
}
.burger div{
    height: 3px;
    width: 25px;
    margin: 5px 0 5px 0;
    border-radius: 20px;
    background-color: white;
    transition: all 2s ease-out;
}
@media  screen and (max-width: 1024px){
    .lista{
        width: 60%;
    }
}

@media screen and (max-width: 830px){
    body{
    overflow-x: hidden;
    }
    .burger{
        display: block;
    }
    .lista{
        position: absolute;
        right: 0px;
        top: 8vh;
        height: 92vh;
        width: 50%;
        background-color: #452368;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        transform: translate(100%);
        transition: transform 1s;
    }
    .lista__li{
        opacity: 0;
        transform: translateX(100%);
        }
    .lista--activada .lista__li{
        opacity: 1;
        transform: translateX(0%);
    }
    .lista--activada{
        transform: translate(0%);
    }
    .toggle .burger__line1{
        transform: translate(0px, 9px) rotate(-45deg);
    }
    .toggle .burger__line2{
        opacity: 0;
    }
    .toggle .burger__line3{
        transform:translate(0px, -7px) rotate(45deg);
    }
}

/* -------------------------------------------------------------------inicio--------------------------------------- */

.fondo__principal{
background-color: #394458;
height: 545px;
display: flex;
justify-content: space-between;
}

.imagen__principal{
height: 523px;
width: 800px;
background-image: url(../img/imagen2.png);
background-repeat: no-repeat;
margin-top: 2%;
margin-right: 120px;
}

.titulo__principal{
height: 230px;
width: 100px;
margin-top: 200px;
margin-left: 100px;
text-align: center;
font-size: 21px;
color: #ffa510;
}

/* ------------------------------------------------------------productos ------------------ */

.contenedor__particular{
height: 235px;
width: 100%;
background-color: #a8a5ae;
}

.boton__particulares{
text-align: center;
font-size: 20px;
width: 260px;
height: 140px;
background-color: #3e5466;
color: #ffa510;
border-radius: 0px 0px 150px 150px;
padding-top: 87px;
margin-left: 42%;
}
.fondo__imagen{
    width: 100%;
    height: 482;
    background-color: #a8a5ae;
}
.imagen__particulares{
    width: 1200px;
    height: 480px;
    background-image: url(../img/partiuclares.png);
    margin-left: 80px;
}
.contenedor__empresas{
height: 235px;
width: 100%;
background-color: #a8a5ae;
}

.boton__empresas{
text-align: center;
font-size: 20px;
width: 260px;
height: 140px;
background-color: #3e5466;
color: #ffa510;
border-radius: 0px 0px 150px 150px;
padding-top: 87px;
margin-left: 42%;
}
.fondo__imagen__empresa{
    width: 100%;
    height: 482;
    background-color: #a8a5ae;
}
.div__empresas{
    width: 1200px;
    height: 480px;
    margin-left: 80px;
    display: flex;
    
}

